#feedback_flyout {
	padding: 20px;
	width: 250px;
	background: #ccc;
	border: 1px solid #29216d;
}

#feedback_flyout h3.title {
	margin-bottom: 15px;
	font-weight: bold;
}

#feedback_flyout .rowlabel {
	display: block;
}

#feedback_flyout .rowlabel .label {
	display: inline-block;
	margin-top: 7px;
	width: 54px;
	font-size: .9em;
	font-weight: normal;
}

#feedback_flyout .rowlabel .label,
#feedback_flyout .rowlabel .input {
	vertical-align: top;
}

#feedback_flyout .buttons {
	margin-top: 10px;
}